{% extends 'base.html.twig' %}

{% block title %}Edit Association{% endblock %}

{% block body %}
    <h1>Edit Association</h1>

    {{ include('association/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('association_index') }}">back to list</a>

    {{ include('association/_delete_form.html.twig') }}
{% endblock %}
