<form method="post" action="{{ path('actualite_delete', {'id': a.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer cette actualité ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ a.id) }}">
    <button  class="btn btn-danger"><i class="fa fa-trash"></i></button>
</form>
