<form method="post" action="{{ path('regles_delete', {'id': r.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer cette regle d\'utilisation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ r.id) }}">
    <button  class="btn btn-danger"><i class="fa fa-trash"></i></button>
</form>
