{#<form method="post" action="{{ path('evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">#}
{#    <button class="btn">Delete</button>#}
{#</form>#}
<form method="post" action="{{ path('deleteEv', {'id': e.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer cette evenement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ e.id) }}">
    <button  class="btn btn-danger"><i class="fa fa-trash"></i></button>
</form>