{% extends 'base.html.twig' %}

{% block title %}Edit Activite{% endblock %}

{% block body %}
    <h1>Edit Activite</h1>

    {{ include('activite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('activite_index') }}">back to list</a>

    {{ include('activite/_delete_form.html.twig') }}
{% endblock %}
