<form method="post" action="{{ path('opportunite_delete', {'id': opportunite.id}) }}" onsubmit="return confirm('Etes vous sur de supprimer cette opportunité?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ opportunite.id) }}">
    <button  class="btn btn-danger"><i class="fa fa-trash"></i></button>
</form>
